name: Fluttaxi
description: Fluttaxi

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

  provider: 3.1.0
  google_maps_flutter: 0.5.21
  google_maps_webservice: ^0.0.14
  geolocator: 5.1.3
  http:  0.12.0+2
  flutter_bloc: 0.21.0
  intro_views_flutter: 2.6.0
  firebase_auth: 0.14.0+5
  google_sign_in: 4.0.7
  bloc_pattern: 2.2.3
  cloud_firestore: 0.12.9+1
  modal_progress_hud: ^0.1.3
  shared_preferences: 0.5.3+1
  flutter_icons: 0.1.4
  line_icons: 0.2.0
  pk_skeleton: 0.0.2
  sweetalert: 0.0.1
  intl: ^0.15.8
  geoflutterfire: 2.0.3+5
  flare_flutter: 1.5.8
  flutter_masked_text: 0.8.0
  flutter_slidable: 0.5.3
  flutter_datetime_picker: 1.2.6
  flutter_circular_chart: 0.1.0
  flutter_staggered_grid_view: 0.3.0
  charts_flutter: 0.8.1
  random_color: 1.0.3
  flutter_launcher_icons: 0.7.3

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  assets:
    - assets/images/intro/1.png
    - assets/images/intro/2.png
    - assets/images/intro/login.pngcom.google.gms.google-services
    - assets/images/intro/pick.png
    - assets/images/usuario/avatar_user.png
    - assets/images/car/car.png
    - assets/images/car/taxiinativo.png
    - assets/images/car/taxi.png
    - assets/images/car/normal.png
    - assets/images/car/normalinativo.png
    - assets/images/historico/mapa.png
    - assets/images/historico/pick.png
    - assets/images/car/taximarker.png
    - assets/images/car/pulsar.flr
    - assets/images/intro/driver.png
    - assets/images/intro/race.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  fonts:
    - family: Raleway
      fonts:
        - asset: assets/fonts/Raleway-Regular.ttf
        - asset: assets/fonts/Raleway-Bold.ttf
          style: normal
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
flutter_icons:
  android: true
  ios: true
  image_path: "assets/icon.png"